$font-stack: Helvetica, sans-serif;
$primary-color: #038112;
#work-page{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .work_page-head{
        width: 100%;
        padding: 50px 0;
        text-align: center; 
        h1{
            font-size: 3.3rem;
            font-family: $font-stack;
            font-weight: 100;
            color: $primary-color;
        }
        p{
            font-size: 1.7rem;
            font-family:'Trebuchet MS', Arial, sans-serif; 
            margin-top: 20px;
        }
    }
    .work_page-images{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        figure{
            width: 24%;
            margin: 55px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 100%;
                height: 240px;
                transition: 0.4s;
                &:hover{
                    opacity: 0.7;
                }
            }
            figcaption{
                h1{
                    margin-top: 20px;
                    font-size: 1rem;
                    font-family: $font-stack;
                    font-weight: 200;
                }
            }
        }
    }
}
@media only screen and (max-width: 760px){
    .work_page-head{
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }
    }
        figure{
            width: 34% !important;
            margin: 35px !important;
            figcaption{
                h1{
                    font-size: 1rem !important;
                }
            }
        }
}
@media only screen and (max-width: 420px){ 
        figure{
            width: 70% !important;
            margin: unset;
            figcaption{
                h1{
                    font-size: 1rem !important;
                }
            }
        }
}
