$font-stack: Helvetica, sans-serif;
$primary-color: #038112;
#work-page{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .work_page-head{
        width: 100%;
        padding: 50px 0;
        text-align: center; 
        h1{
            font-size: 3.3rem;
            font-family: $font-stack;
            font-weight: 100;
            color: $primary-color;
        }
        p{
            font-size: 1.7rem;
            font-family:'Trebuchet MS', Arial, sans-serif; 
            margin-top: 20px;
        }
    }
    .work_page-images{
        width: 100%;
        img{
            width: 240px;
            height: 240px;
            margin: 57px;

        }
    }
}